body {
  font-family: monospace;
  color: #666666;
  padding: 1.5em;
}
.box {
  border: 1px solid #b9b9b9;
  padding: 1em 2em;
  margin-bottom: 1em;
}
.box h4,
.box p {
  margin: 0;
}
.box .box-content {
  padding: 1em 0;
}
.icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 32px;
}
.icon.svg-bg {
  background-image: url('../img/icon-heart.svg');
}
.icon.svg-bg-data {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2232px%22%20height%3D%2232px%22%20viewBox%3D%220%200%2032%2032%22%20style%3D%22enable-background%3Anew%200%200%2032%2032%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%09%3Cpath%20d%3D%22M16.006%2C31.32l-1.298-1.73c-4.722-6.831-7.39-8.993-9.246-10.886c-1.406-1.424-3.803-3.316-4.974-6.11%0D%0A%09c-0.937-2.217-0.487-5.353%2C1.009-7.624C3.228%2C2.321%2C6.256%2C0.68%2C9.446%2C0.68c2.253%2C0%2C4.506%2C0.829%2C6.56%2C2.415%0D%0A%09c2.037-1.586%2C4.29-2.415%2C6.543-2.415c3.19%2C0%2C6.218%2C1.64%2C7.948%2C4.289c1.496%2C2.271%2C1.947%2C5.407%2C1.027%2C7.624%0D%0A%09c-1.171%2C2.794-3.586%2C4.686-4.992%2C6.11c-1.856%2C1.893-4.524%2C4.055-9.246%2C10.886L16.006%2C31.32z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
}
.icon.png-bg {
  background-image: url('../img/icon-heart.png');
}
.icon.png-bg-data {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABwElEQVRYR82Xj1XCMBDGYQLdwG6gG1gmUCYQJ1AnECaQDYQJ1AksG8AEdgSdQL9fX8MLoW3SP7Tee/eA5HLfl7sjuYxHfrm2THb6/u1Zcq75S8tmU2U/LpjEwY30UXpVML/V2FK6dubuAtZ8uBtwCQD4WgLsckk1cJ8PsibyB3MEedbwmYlNINbvzwAnXZhM5CSxCbBzwAl/H0IdQWJrIgA4EehTiMAEArfStz6RLawpBFZSKngIWUPgSxoNgS7MFAK/A4FnsP+CQCoiFwNFYUcE5tLngQgsIMDhQxTOeibxQ/Gbg4iL56VnAk/CW9p3QZ/nATfpzPwLzMZJRSK17/JTBIWeIpZmfYV7HZ+axAF4EQHGIEE6aEq6FMJOrR10VEUdkQHtsib2OXd3VEUA2y5IlIKXpcAl+d4iHZXgoQSaFuZRwRUVlC8FZk1dEkHgoREwJOgbE6nvyOaIjaX7zrfqrxQaAeMjpH2bypi6CZK6BHDKo+ShxPtC4/Mg5NyoCQGWkgr7ycbYJg99Hfyjozh0cZTn2NQDeadG0lAHxq5pBFg/k/IkQ2rl3SbZhgB+VrkzyDSStgTMU873ZC8l9wfYvUtOqkgj0gAAAABJRU5ErkJggg==');
}
.icon.webp-bg {
  background-image: url('../img/icon-heart.webp');
}
.icon.icon-font {
  color: #0099CC;
}
.svg-inline {
  fill: #ff2b5c;
}
